.app-container {
  display: flex;
  /* vertically align the items in the flex container */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-header {
  /* assign space by the ratio */
  flex:1;
  /* flex container */
  display: flex;
  /* centerlize */
  justify-content: center;
  align-items: center;
  width:100vw;
}

.app-body {
  flex:3;
  width:100%;
}

.selection-section {
  display: flex;
  /* centerlize */
  justify-content: center;
  align-items: center;
  /* add space between each item */
  gap:5px;
  /* push the item inside 100px horizontally */
  padding-inline:100px;
}
.selection-item {
  flex:1;
  text-align: center;
}

.result-section {
  display: flex;
  flex-direction: row;
  gap:10px;
  /* centerlize */
  justify-content: center;
  text-align: center;
}
.result-item {
  flex:1;
}